 /* CSS */

.headroom{
  margin-top: 25px;
}

.display-4 {
  font-size: 3.2rem;
}

a:hover {
  transition-duration: 0.15s;
  text-decoration: none;
}

a {
  transition-duration: 0.3s;
}

.gray {
  color: #888888;
}

.jumbotron{
  border-radius: .4rem;
}
