 /* CSS */

.headroom{
  margin-top: 25px;
}

.marb{
  margin-bottom: 50px;
}

.display-4 {
  font-size: 3.1rem;
}

a:hover {
  transition-duration: 0.15s;
  text-decoration: none;
}

a {
  transition-duration: 0.3s;
}

.gray {
  color: #888888;
}

.jumbotron{
  border-radius: .4rem;
}

pre {
  background-color: #eeeeee;
  border-radius: 7px;
}

.bgcolor{
  background-color: #fffafa;
}
